<!DOCTYPE html>
<html>
 <head> 
  <meta name="author" content="" /> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title> 文章详情 </title> 
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" /> 

  <!-- <link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css" />  -->
 <!--  <link rel="stylesheet/less"  href="../bootstrap/less/bootstrap.less" media="all"/> -->
  <link rel="stylesheet" href="../editor/css/editormd.preview.min.css" />
  <link rel="stylesheet" href="../editor/css/editormd.css" />
  <link href="../tocify/css/jquery.tocify.css" rel="stylesheet">




  <style>
 


  .nav{
    font-size:20px;
  }
	.bread {
	    font-size: 12px;
	    color: blue;
	}
	body{
	     background-color:#F9F9F9;
	}

	.footer{
	text-align: center;
	background:#336699;
  margin-top: 45px;
	}

	.cata{
	border-radius:5px;
	background:#ffffff;
  margin-right: 10px;
  /*position: fixed;*/
  /*top: 30px;*/
	}

	.navbar{
	background:#336699;
	}
  .content{
    border-radius: 5px;
    background: #ffffff;
  }
  .container{
    margin-top: 10px;
  }
  .post-title{
    text-align: center;
  }
  .post-meta{
    text-align: center;
  }
  .content{
    margin-bottom: 45px;
  }

  /*.active{
    border-bottom: 5px solid #ffffff;
    font-weight:bold;

  }*/
  /*.cata{
        position: fixed;
  }*/
  .header{
    background-color: #ffffff;
    height: 12px;
  }
  #nav_head{
    height: 46px
  }
  #breadId{
    margin-left: 50px
  }
  #navbar-header-id{
    margin-left: 20px;
    color: #ffffff;
    margin-right: 30px;
  }
  /*}*/
  #sitename{

  }
  #sitename_div{
    margin-top: 7px;
    float: left;
    /* margin-top: 14px; */
    font-size: 24px;
  }
  #fk-navbar-collapse{
    color: #ffffff;
  }
  .cata_active{
    font-weight: bold;
    border-bottom: 5px solid #ffffff; 
  }
  .friendTitle{
    text-align: left;
    margin-left: 29px;
    margin-top: 10px;
    color: #ffffff;
    font-weight: bold;
  }
  .friendHref{
    margin-left: -15px;
    border-right: 2px solid #99b2cc;
    margin-top: 8px;
    color: #ffffff;
  }
  /*.contactme{
    color: #ffffff;
    margin-left: -96px;
    margin-top: 10px;
  }*/
  .contactme{
    color: #ffffff;
    margin-top: 7px;
    text-align: left;
    margin-left: 39px;
  }
      





  


	</style> 
 </head> 
 <body> 
  <div class="header"></div>
  <nav class="navbar navbar-default" id="nav_head"> 
   <div class="container-fluid"> 
    <div class="navbar-header" id="navbar-header-id"> 
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#fk-navbar-collapse" aria-expanded="false"> <span class="sr-only">展开导航</span> 
      <!-- 下面代表导航条中的3条横线 --> 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 
     <a class="navbar-brand" style="padding-top:0" href="#"> 
       <img alt="Dust's Blog" src="../image/logo.png" style="width: 40px;height:40px;margin-top:4px" />
     </a> 
     <div id="sitename_div">
       <span id="sitename">Dust's Blog</span>
     </div>
    </div> 
    <div class="collapse navbar-collapse" id="fk-navbar-collapse"> 
     <ul class="nav navbar-nav"> 
      <!-- <li role="presentation"  href="#"style="color: #ffffff;height:46px">首页</a></li>  -->
      <li role="presentation" ><a href="#" class="cata_active" style="color: #ffffff;height:48px">首页</a></li> 
      <li role="presentation" ><a href="#" style="color: #ffffff;height:48px">我是标题</a></li> 
      <li role="presentation"><a href="#" style="color: #ffffff;height:48px">我是标题</a></li> 
      <li role="presentation"><a href="#"  style="color: #ffffff;height:48px">我是标题</a></li> 
     </ul> 
    </div> 
   </div> 
  </nav> 
  <nav id="breadId" class="breadcrumb&gt;
	&lt;div class=" container"=""> 
   <span class="c-gray">文章</span> 
   <span class="c-gray en">&gt;</span> 
   <span class="c-gray">个人博客应该选择什么样的域名和域名后缀</span> 
  </nav> 
  <section class="container"> 
   <div class="row"> 
    
    <!--left --> 
    <div class="col-sm-9 col-md-9 content">
    <article>
      <header>
        <h1 class="post-title">spark error：not found：value sqlContext</h1>
        <div class="post-meta">
          <span>浏览：1024&nbsp;&nbsp;</span>
          <span>评论：128&nbsp;&nbsp;</span>
          <span>喜欢：128&nbsp;&nbsp;</span>
          <span>发表时间：2018-11-16 HH-MM</span>

        </div>
        
        <!-- 标签 -->
        <div style="margin-top:12px;margin-left:20px">
          <button type="button" style="margin-right: 5px" class="btn btn-success">我是标签</button>
          <button type="button" style="margin-right: 5px" class="btn btn-info">我是标签</button>
          <button type="button" style="margin-right: 5px" class="btn btn-primary">我是标签</button>
          <button type="button" style="margin-right: 5px" class="btn btn-warning">我是标签</button>
          <button type="button" style="margin-right: 5px" class="btn btn-danger">我是标签</button>
          <button type="button" style="margin-right: 5px" class="btn btn-default">我是标签</button>
        </div>


      </header>
<div class="content wrap" id="content">
<h2 id="h2-nosql-"><a name="NoSQL的三大基石" class="reference-link"></a><span class="header-link octicon octicon-link"></span>NoSQL的三大基石</h2><ol>
<li>CAP</li><li>BASE</li><li>最终一致性</li></ol>
<h3 id="h3-cap"><a name="CAP" class="reference-link"></a><span class="header-link octicon octicon-link"></span>CAP</h3><p>所谓的CAP指的是：</p>
<ul>
<li>C （Consistency ）：一致性，是指任何一个读操作总是能够读到之前<br>完成的写操作的结果，也就是在分布式环境中，多点的数据是一致的，<br>或者说，所有节点在同一时间具有相同的数据</li><li>A: （Availability ）：可用性，是指快速获取数据，可以在确定的时间<br>内返回操作结果，保证每个请求不管成功或者失败都有响应；</li><li>P （Tolerance of Network Partition ）：分区容忍性，是指当出现网络<br>分区的情况时（即系统中的一部分节点无法和其他节点进行通信），分<br>离的系统也能够正常运行，也就是说，系统中任意信息的丢失或失败不<br>会影响系统的继续运作。</li></ul>
<p>CAP理论告诉我们，一个分布式系统不可能同时满足一致性、可用性<br>和分区容忍性这三个需求，最多只能同时满足其中两个，正所谓“鱼和熊<br>掌不可兼得”。</p>
<h4 id="h4-u4E00u4E2Au727Au7272u4E00u81F4u6027u6765u6362u53D6u53EFu7528u6027u7684u5B9Eu4F8B"><a name="一个牺牲一致性来换取可用性的实例" class="reference-link"></a><span class="header-link octicon octicon-link"></span>一个牺牲一致性来换取可用性的实例</h4><p><img src="/upload/11.png" alt="初始状态" title="初始状态"><br><img src="/upload/22.png" alt="正常执行" title="正常执行"><br><img src="/upload/33.png" alt="更新传播失败时的执行状态" title="更新传播失败时的执行状态"></p>
<p>当处理CAP的问题时，可以有几个明显的选择：</p>
<ol>
<li>CA：也就是强调一致性（C）和可用性（A），放弃分区容忍性（P），最<br>简单的做法是把所有与事务相关的内容都放到同一台机器上。很显然，这种<br>做法会严重影响系统的可扩展性。传统的关系数据库（MySQL、SQL Server<br>和PostgreSQL），都采用了这种设计原则，因此，扩展性都比较差</li><li>CP：也就是强调一致性（C）和分区容忍性（P），放弃可用性（A），当<br>出现网络分区的情况时，受影响的服务需要等待数据一致，因此在等待期间<br>就无法对外提供服务</li><li>AP：也就是强调可用性（A）和分区容忍性（P），放弃一致性（C），允<br>许系统返回不一致的数据</li></ol>
<h3 id="h3-base"><a name="BASE" class="reference-link"></a><span class="header-link octicon octicon-link"></span>BASE</h3><p>说起BASE（Basically Availble, Soft-state, Eventual consistency），不得不谈到ACID。</p>
<table>
<thead>
<tr>
<th style="text-align:left">ACID</th>
<th style="text-align:left">BASE</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">原子性(Atomicity)</td>
<td style="text-align:left">基本可用(Basically Available)</td>
</tr>
<tr>
<td style="text-align:left">一致性(Consistency)</td>
<td style="text-align:left">软状态/柔性事务(Soft state)</td>
</tr>
<tr>
<td style="text-align:left">隔离性(Isolation)</td>
<td style="text-align:left">最终一致性 (Eventual consistency)</td>
</tr>
<tr>
<td style="text-align:left">持久性 (Durable)</td>
<td style="text-align:left">-</td>
</tr>
</tbody>
</table>
<p>一个数据库事务具有ACID四性：</p>
<ul>
<li>A（Atomicity）：原子性，是指事务必须是原子工作单元，对于其数<br>据修改，要么全都执行，要么全都不执行</li><li>C（Consistency）：一致性，是指事务在完成时，必须使所有的数据<br>都保持一致状态</li><li>I（Isolation）：隔离性，是指由并发事务所做的修改必须与任何其它<br>并发事务所做的修改隔离</li><li>D（Durability）：持久性，是指事务完成之后，它对于系统的影响是<br>永久性的，该修改即使出现致命的系统故障也将一直保持</li></ul>
<p>BASE的基本含义是基本可用（Basically Availble）、软状态（Soft-state）和最终一致性（Eventual consistency）：</p>
<ul>
<li>基本可用<br>基本可用，是指一个分布式系统的一部分发生问题变得不可用时，其他部分仍然可以正常使用，也就是允许分区失败的情形出现</li><li>软状态<br>“软状态（soft-state）”是与“硬状态（hard-state）”相对应的一种提法。数据库保存的数据是“硬状态”时，可以保证数据一致性，即保证数据一直是正确的。“软状态”是指状态可以有一段时间不同步，具有一定的滞后性。</li><li>最终一致性<br>一致性的类型包括强一致性和弱一致性，二者的主要区别在于高并发的数据访问操作下，后续操作是否能够获取最新的数据。对于强一致性而言，当执行完<br>一次更新操作后，后续的其他读操作就可以保证读到更新后的最新数据；反之，如果不能保证后续访问读到的都是更新后的最新数据，那么就是弱一致性。而最终一致性只不过是弱一致性的一种特例，允许后续的访问操作可以暂时读不到更新后的数据，但是经过一段时间之后，必须最终读到更新后的数据。</li></ul>
<p>最常见的实现最终一致性的系统是DNS（域名系统）。一个域名更新操作根据配置的形式被分发出去，并结合有过期机制的缓存；最终所有的客户端可以看到最新的值。</p>
<p>最终一致性根据更新数据后各进程访问到数据的时间和方式的不同，又可以区分为：</p>
<ul>
<li>因果一致性：如果进程A通知进程B它已更新了一个数据项，那么进程B<br>的后续访问将获得A写入的最新值。而与进程A无因果关系的进程C的访问<br>，仍然遵守一般的最终一致性规则</li><li>“读己之所写”一致性：可以视为因果一致性的一个特例。当进程A自<br>己执行一个更新操作之后，它自己总是可以访问到更新过的值，绝不会看<br>到旧值</li><li>单调读一致性：如果进程已经看到过数据对象的某个值，那么任何后续<br>访问都不会返回在那个值之前的值</li></ul>
<p>最终一致性根据更新数据后各进程访问到数据的时间和方式的不同，又可以区分为：</p>
<ul>
<li>会话一致性：它把访问存储系统的进程放到会话（session）的上下文中，只要会话还存在，系统就保证“读己之所写”一致性。如果由于某些失败情形令会话终止，就要建立新的会话，而且系统保证不会延续到新的会话</li><li>单调写一致性：系统保证来自同一个进程的写操作顺序执行。系统必须保证这种程度的一致性，否则就非常难以编程了</li></ul>
<h3 id="h3-u6700u7EC8u4E00u81F4u6027"><a name="最终一致性" class="reference-link"></a><span class="header-link octicon octicon-link"></span>最终一致性</h3><p><strong>如何实现各种类型的一致性？</strong><br>对于分布式数据系统：</p>
<ul>
<li>N — 数据复制的份数</li><li>W — 更新数据是需要保证写完成的节点数</li><li>R — 读取数据的时候需要读取的节点数</li></ul>
<p>如果W+R&gt;N，写的节点和读的节点重叠，则是强一致性。例如对于典型的一主<br>一备同步复制的关系型数据库，N=2,W=2,R=1，则不管读的是主库还是备库的<br>数据，都是一致的。一般设定是R＋W = N+1，这是保证强一致性的最小设定</p>
<p>如果W+R&lt;=N，则是弱一致性。例如对于一主一备异步复制的关系型数据库，<br>N=2,W=1,R=1，则如果读的是备库，就可能无法读取主库已经更新过的数据，<br>所以是弱一致性。</p>
<p>对于分布式系统，为了保证高可用性，一般设置N&gt;=3。不同的N,W,R组合，是<br>在可用性和一致性之间取一个平衡，以适应不同的应用场景。</p>
<p>•如果N=W,R=1，任何一个写节点失效，都会导致写失败，因此可用性会降低，<br>但是由于数据分布的N个节点是同步写入的，因此可以保证强一致性。</p>
<p>实例：HBase是借助其底层的HDFS来实现其数据冗余备份的。HDFS采用的就<br>是强一致性保证。在数据没有完全同步到N个节点前，写操作是不会返回成功的<br>。也就是说它的W＝N，而读操作只需要读到一个值即可，也就是说它R＝1。像Voldemort，Cassandra和Riak这些类Dynamo的系统，通常都允许用户按需<br>要设置N，R，W三个值，即使是设置成W＋R&lt;= N也是可以的。也就是说他允<br>许用户在强一致性和最终一致性之间自由选择。而在用户选择了最终一致性，或者是W&lt;N的强一致性时，则总会出现一段“各个节点数据不同步导致系统处理<br>不一致的时间”。为了提供最终一致性的支持，这些系统会提供一些工具来使数<br>据更新被最终同步到所有相关节点。</p>
     

   
</div>
    </article>
    </div> 
     <!--left --> 
    <div class="col-sm-3 col-md-3"> 
     <div class="row"> 
      <div class="left"> 
        <div id="toc">
             
        </div>
       
      </div>
     </div> 
     </div> 
    </div> 
    </div> 
  </section> 
  <footer class="footer"> 
   <div class="container-fluid" id="foot"> 
    
    <!-- <p>Copyright &copy; 2016-2017 www.wfyvv.com <br /> <a href="#" target="_blank">皖ICP备17002922号</a> 更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a><br /> </p> 
 -->
    <div class="row">
       <div class="col-lg-6">
            <div class="friendTitle">友情链接</div>
            
            <ul style="border-right: 2px solid #99b2cc" class="list-inline friendHref">
              <li>友情链接1</li>
              <li>友情链接1</li>
              <li>友情链接1</li>
              <li>友情链接1</li>
              <li>友情链接1</li>
              <li>友情链接1</li>
              <li>友情链接1</li>
              <li>友情链接1</li>
              <li>友情链接1</li>
              <li>友情链接1</li>
              <li>友情链接1</li>
              <li>友情链接1</li>
              
            </ul>
            
       </div>
       <div class="col-lg-6">
           <div class="friendTitle">关注我</div>
           <ul class="list-unstyled contactme">
             <li><span style="margin-right: 10px;">QQ:</span>&nbsp<span>2470451896</span></li>
               <li><span style="margin-right: 4px;">邮箱:</span>&nbsp<span>dusthomeagain\@gmail.com</span></li>
             <li><span style="margin-right: 4px;">微信:</span><span style="margin-left: 5px;"><img src="../image/weixin.jpg" style="width: 100px"/></span></li>

           </ul>

       </div>

    </div>


   </div> 
  </footer> 
  <script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script> 
  <script src="../tocify/js/jquery-ui-1.9.1.custom.min.js"></script>
  <!-- <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
 <!--  <script src="https://cdn.bootcss.com/jquery.tocify/1.9.0/javascripts/jquery.tocify.min.js"></script>   -->
  <script src="../tocify/js/jquery.tocify.min.js"></script>
  <script src="../editor/lib/marked.min.js"></script>
  <script src="../editor/lib/prettify.min.js"></script>
  <script src="../editor/editormd.min.js"></script>
  <script src="../less.min.js"></script>
  <script type="text/javascript">
   editormd.markdownToHTML("content");
   var toc = $("#toc").tocify({
        selectors: "h2,h3,h4,h5", // 选择要筛选的标题
        extendPage: false, // 页面不够长时拉长页面，这里选择关闭因为感觉留出大片空白不好看- -
        highlightDefault: false // 自动高亮第一条
    });
  </script>
 </body>
</html>