<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ren.blog.dao.ArticleMapper" >

  <resultMap id="articleMap" type="com.ren.blog.dto.ArticleDto">
    <id column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="article_name" property="articleName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="cata_name" property="cataName" jdbcType="VARCHAR" />
    <result column="brief_content" property="briefContent" jdbcType="VARCHAR" />
  </resultMap>



  <select id="getArticleList" resultMap="articleMap">
      SELECT
        t.article_id,
        t.article_name,
        t.create_time,
      substring(t.md_content, 1, 400) as brief_content,
      c.cata_name
      FROM
        article t,cata c
      WHERE
        t.`enable` = '1'
       and t.cata_id  = c.cata_id
      ORDER BY
        t.create_time DESC
  </select>


  <select id="selectByPrimaryKey" resultType="com.ren.blog.dto.ArticleDto" parameterType="java.lang.Integer">
      SELECT
        t.article_id as articleId,
        t.article_name as articleName,
        t.create_time as createTime,
        t.content as content
    FROM
        article t
    WHERE
        t.`enable` = '1'
        and t.article_id = #{articleId}
  </select>
</mapper>